
.header{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid black;
    /* padding: 15rem ; */
    margin: 5rem 20rem;
    
}

#selectAllContainer {
    display: none;
}